# IDE - VSCode

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# node_modules

node_modules

# Development

.env.example

# dist & pack

dist
*.tgz

# OS

.DS_Store

# TypeScript

tsconfig.*.tsbuildinfo

# Logs

logs
*.log
npm-debug.log*
.vercel
