@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./Styles/fonts.css";
@import "./Styles/docsearch.css";
@import "./Styles/prism.css";

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(30 41 59 / var(--tw-bg-opacity));
  border-radius: 12px;
  border: 0px solid rgba(0, 0, 0, 0);
  background-clip: content-box;
  min-width: 32px;
  min-height: 32px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}